.recover {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
}

.recoverPanel {
  padding: 20px;
  height: 100%;
  background: #f7f5f5;
}

.mapWrapper {
  height: 100%;
  position: relative;
}

.mapWrapper > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
