.recover {
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 180px;
}

.title {
  margin: 50px auto;
  width: 230px;
  font-size: 20px;
}

.textInput {
  padding: 15px;
  border: none;
  border-radius: 25px;
  color: #008c73;
  width: 300px;
  font-size: 16px;
  outline: none;
}
